@import "@fontsource/roboto";

:root {
    // colors
    --bg: hsl(0, 0%, 10%);
    --bg-dark: hsl(0, 0%, 5%);
    --bg-dark-light: hsl(0, 0%, 8.5%);
    --text: hsl(0, 0%, 85%);
    --link: hsl(200, 100%, 50%);
    --hr: hsl(0, 0%, 20%);

    // fonts
    --font: "Roboto", sans-serif;

    // transitions
    --hover-transition: 200ms ease-in-out;

    // sizes
    --sidebar-width: 200px;
}